# Build
build/
cmake-build-*/
*.o
*.a
*.so
*.dylib

# Executáveis
bin/
retrocapture

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Logs
*.log

# OS
.DS_Store
Thumbs.db

imgui.ini
retrocapture_config.json

AppDir/
RetroCapture-*.AppImage
linuxdeploy-x86_64.AppImage
appimagetool-x86_64.AppImage
linuxdeploy-plugins/

# Linux ARM
build-linux-arm32v7/
build-linux-arm64v8/

# Linux x86_64
build-linux-x86_64/

# Windows x86_64
build-windows-x86_64/
*.exe
*.dll
*.lib
*.pdb
*.exp
*.lib
*.pdb
*.exp
mxe/