services:
  build-windows-x86_64:
    build:
      context: .
      dockerfile: Dockerfile.windows
    image: retrocapture-windows-x86_64-builder:latest
    volumes:
      - .:/work:ro
      - ./build-windows:/work/build-windows
    working_dir: /work

  build-linux-x86_64:
    build:
      context: .
      dockerfile: Dockerfile.linux
    image: retrocapture-linux-x86_64-builder:latest
    volumes:
      - .:/work:ro
      - ./build-linux:/work/build-linux:rw
    working_dir: /work

  build-linux-armv7:
    build:
      context: .
      dockerfile: Dockerfile.linux-armv7
      platforms:
        - linux/arm/v7
    image: retrocapture-linux-armv7-builder:latest
    platform: linux/arm/v7
    volumes:
      - .:/work:ro
      - ./build-linux-armv7:/work/build-linux-armv7:rw
    working_dir: /work

  build-linux-arm64:
    build:
      context: .
      dockerfile: Dockerfile.linux-arm64
      platforms:
        - linux/arm64
    image: retrocapture-linux-arm64-builder:latest
    platform: linux/arm64
    volumes:
      - .:/work:ro
      - ./build-linux-arm64:/work/build-linux-arm64:rw
    working_dir: /work
