services:
  build-windows-x86_64:
    build:
      context: .
      dockerfile: Dockerfile.windows-x86_64
    image: retrocapture-windows-x86_64-builder:latest
    volumes:
      - .:/work:ro
      - ./build-windows-x86_64:/work/build-windows-x86_64
    working_dir: /work

  build-linux-x86_64:
    build:
      context: .
      dockerfile: Dockerfile.linux-x86_64
    image: retrocapture-linux-x86_64-builder:latest
    volumes:
      - .:/work:ro
      - ./build-linux-x86_64:/work/build-linux-x86_64:rw
    working_dir: /work

  build-linux-arm32v7:
    build:
      context: .
      dockerfile: Dockerfile.linux-arm32v7
      platforms:
        - linux/arm/v7
    image: retrocapture-linux-arm32v7-builder:latest
    platform: linux/arm/v7
    volumes:
      - .:/work:ro
      - ./build-linux-arm32v7:/work/build-linux-arm32v7:rw
    working_dir: /work

  build-linux-arm64v8:
    build:
      context: .
      dockerfile: Dockerfile.linux-arm64v8
      platforms:
        - linux/arm64
    image: retrocapture-linux-arm64v8-builder:latest
    platform: linux/arm64
    volumes:
      - .:/work:ro
      - ./build-linux-arm64v8:/work/build-linux-arm64v8:rw
    working_dir: /work
